<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKA</title>
    <link rel="stylesheet" href="css/swiper-bundle.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg">
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="#">IKA</a>
                </div>
                <div class="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="nav">
                    <a href="#" class="active">Translate</a>
                    <a href="index.html">Home</a>
                    <a href="explorer.html">Collections</a>
                    <a href="#">Artists</a>
                    <a href="subscribe.html">Subscribe</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="artist">
                <div class="artist-avatar">
                    <img src="media/a3.jpg" alt="IKA_Artist_Photo">
                </div>
                <h2>IKA</h2>
                <div class="artist-content">
                    <p>
                        In the harmonious chorus of contemporary art, where various forms andexpressions intertwine, IKA's voice distinctly echoes through the mesmerizingrealm of modern sculpture. With each piece, IKA masterfully navigates througlthe delicate balance of form and void, substance and shadow, subtly craftingvolumes that speak to the viewer with a language both novel and intimatelyfamiliar.
                    </p>
                    <p>
                        Art enthusiasts and critics alike have marveled at lKA's ability to infuse emotionand motion into materials known for theirrigidity and permanence. The sculpturesbreathe with a silent, rhythmic pulse, inviting viewers into a dance ofcontemplation and discovery, a silent conversation between the tangible and theethereal, the seen and the unseen.
                    </p>
                </div>
            </div>
            <h2 class="text-center title">Artwork</h2>
            <div class="artist-banner">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="detail.html">
                                <img src="media/1.jpg" alt="IKA_Artwork_Image1">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="media/art-banner2.jpg" alt="Gymnastics art sculpture">
                            </a>
                        </div>
                    </div>
                    <!-- If you need a pager -->
                    <div class="swiper-pagination"></div>
        
                    <!-- If you need a navigation button -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="comments">
                <h2>Feedback and Comments</h2>
                <template v-if="list.length!=0">
                    <div class="comment" v-for="comment in list">
                        <!-- <div class="star">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                    </div> -->
                        <el-rate v-model="rating" show-score disabled text-color="#ff9900">Rate</el-rate>
                        <p class="comment-body">
                            {{comment.comment}}
                        </p>
                        <h6>
                            See in original language
                        </h6>
                        <p class="comment-link">
                            Purchased item: <a href="#">Abstract Mid Century</a>, <a href="#">Modern Home</a>, <a
                                href="#">Sculpture Art</a>, <a href="#">Modern Retro Sc...</a>
                        </p>
                        <div class="comment-user">
                            <div class="comment-user__avatar">
                                <img src="media/user.png" alt="user_image">
                            </div>
                            <a href="#">{{comment.username}}</a>
                            <span>
                                29 Oct, 2020
                            </span>
                        </div>
                        <div class="comment-like">
                            <img src="media/like.png" alt="like_image">
                            Helpful?
                        </div>
                    </div>
                </template>
                <h2 v-else>Empty</h2>
                <!-- <div class="comment">
                    <div class="star">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                    </div>
                    <p class="comment-body">
                        Lovingly made, carefully packed and shipped - and now an absolute eye-catcher at my home. Thank
                        youlLovingly made, very carefully packed and dispatched . and now my new eye-catcher at home.
                        Thank You
                    </p>
                    <h6>
                        See in original language
                    </h6>
                    <p class="comment-link">
                        Purchased item: <a href="#">Abstract Mid Century</a>, <a href="#">Modern Home</a>, <a
                            href="#">Sculpture Art</a>, <a href="#">Modern Retro Sc...</a>
                    </p>
                    <div class="comment-user">
                        <div class="comment-user__avatar">
                            <img src="media/user.png" alt="">
                        </div>
                        <a href="#">Sara Zingg</a>
                        <span>
                            29 Oct, 2020
                        </span>
                    </div>
                    <div class="comment-like">
                        <img src="media/like.png" alt="">
                        Helpful?
                    </div>
                </div> -->
            </div>
            <script src="js/swiper-bundle.js"></script>
            <script src="js/menu.js"></script>
            <script src="js/artist.js"></script>
            <div class="comments-form">
                <input type="text" placeholder="name" v-model="username">
                <textarea placeholder="comment" v-model="comment"></textarea>
                <el-rate v-model="rating" allow-half>Rate</el-rate>
                <button class="btn" @click="handleSubmit">Submit</button>
            </div>
        </div>
    </div>
    <div class="btn-list">
        <a href="#">Support</a>
        <a href="#">About</a>
    </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/element-ui.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/detail.js"></script>
    <script src="js/comment.js"></script>
    <script>
        const baseURL = "https://damp-castle-86239-1b70ee448fbd.herokuapp.com/decoapi/comments/";
        const postCommentURL = baseURL;
        const postCommentMethod = "POST";
        const postCommentHeaders = {
            'Content-Type': 'application/json'
        };
        const getCommentsURL = `${baseURL}?website_code=example123`;
        const getCommentsMethod = "GET";

        new Vue({
            el: '#app',
            data: {
                username: '',
                comment: '',
                rating: 0,
                list: []
            },
            created() {
                this.getList();
            },
            methods: {
                handleSubmit() {
                    const postCommentBody = JSON.stringify({
                        username: this.username,
                        comment: this.comment,
                        website_code: "example123",
                        rating: this.rating,
                    });
                    console.log(postCommentBody);
                    fetch(postCommentURL, {
                        method: postCommentMethod,
                        headers: postCommentHeaders,
                        body: postCommentBody
                    })
                        .then(response => response.json())
                        .then(data => this.getList());

                },
                getList() {
                    fetch(getCommentsURL, {
                        method: getCommentsMethod,
                    })
                        .then(response => response.json())
                        .then(data => this.list = data);

                }
            }
        });



    </script>
   
</body>

</html>