<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="css/element-ui.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="#">Artwork</a>
                </div>
                <div class="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="nav">
                    <div id="google_translate_element"></div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement(
                                { pageLanguage: 'en' },
                                'google_translate_element'
                            );
                        }
                    </script>

                    <script type="text/javascript"
                        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                        </script>
                    <a href="index.html">Home</a>
                    <a href="explorer.html">Explorer</a>
                    <a href="artist.html">Artists</a>
                    <a href="subscribe.html">Subscribe</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main" id="app">
        <div class="container">
            <div class="goods">
                <h1>Name</h1>
                <div class="goods-imgs">
                    <div class="goods-imgs__small">
                        <img src="media/1.jpg" alt="IKA_Artwork_Image1">
                        <img src="media/2.jpg" alt="IKA_Artwork_Image2">
                        <img src="media/3.jpg" alt="IKA_Artwork_Image3">
                        <img src="media/4.jpg" alt="IKA_Artwork_Image4">
                    </div>
                    <div class="goods-imgs__big">
                        <img src="media/1.jpg" alt="IKA_Artist_Photo">
                    </div>
                </div>
                <div class="goods-info">
                    <h2>Artist Name</h2>
                    <div class="goods-info__avatar">
                        <a href="artist.html">
                            <img src="media/a3.jpg" alt="IKA">
                        </a>
                    </div>
                    <h3>Price (If sale)</h3>
                    <h5>SIZE</h5>
                    <p>width 7 cm - height 21 - background 7</p>
                    <h4>Video - how is it done?</h4>
                    <div class="goods-info__video">
                        <iframe
                            src="https://www.youtube.com/embed/64bpcvDM4Ug?si=5oq4EXTtceAOlOn5"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="goods-desc">
                    <h2>Description</h2>
                    <p>
                        Emerging from a world where contemplation meets art, "The Thinking Man" stands as an emblem of
                        deep introspection and the ceaseless quest for understanding. Chiseled to perfection, every
                        curve and contour of the sculpture is a testament to the intricacies of the human psyche and our
                        innate drive to seek meaning.
                    </p>
                    <p>
                        Positioned in a ponderous stance, the figure's furrowed brow and the hand delicately placed on
                        his chin signify a moment of profound reflection. His muscular physique, representative of the
                        Renaissance emphasis on anatomical accuracy, contrasts beautifully with the vulnerability of
                        thought, suggesting that true strength lies in the capacity to think, reason, and introspect.
                    </p>
                    <p>
                        An enduring masterpiece, "The Thinking Man" not only exemplifies artistic finesse but serves as
                        an eternal reminder of humanity's relentless pursuit of knowledge and the essence of
                        introspective thought. Whether he is questioning existence, contemplating life's intricacies, or
                        merely lost in a fleeting thought, this iconic figure resonates with viewers across ages,
                        inviting them into a shared space of reflection
                    </p>
                </div>
            </div>
        </div>
        <div class="comments-form">
            <input type="text" placeholder="name" v-model="username">
            <textarea placeholder="comment" v-model="comment"></textarea>
            <el-rate v-model="rating" allow-half>Rate</el-rate>
            <button class="btn" @click="handleSubmit">Submit</button>
        </div>
            <div class="comments">
                <h2>Feedback and Comments</h2>
                <template v-if="list.length!=0">
                    <div class="comment" v-for="comment in list">
                        <!-- <div class="star">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                    </div> -->
                        <el-rate v-model="rating" show-score disabled text-color="#ff9900">Rate</el-rate>
                        <p class="comment-body">
                            {{comment.comment}}
                        </p>
                        <h6>
                            See in original language
                        </h6>
                        <p class="comment-link">
                            Purchased item: <a href="#">Abstract Mid Century</a>, <a href="#">Modern Home</a>, <a
                                href="#">Sculpture Art</a>, <a href="#">Modern Retro Sc...</a>
                        </p>
                        <div class="comment-user">
                            <div class="comment-user__avatar">
                                <img src="media/user.png" alt="user_image">
                            </div>
                            <a href="#">{{comment.username}}</a>
                            <span>
                                29 Oct, 2020
                            </span>
                        </div>
                        <div class="comment-like">
                            <img src="media/like.png" alt="like_image">
                            Helpful?
                        </div>
                    </div>
                </template>
                <h2 v-else>Empty</h2>
                <!-- <div class="comment">
                    <div class="star">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                        <img src="media/star-off.png" alt="">
                    </div>
                    <p class="comment-body">
                        Lovingly made, carefully packed and shipped - and now an absolute eye-catcher at my home. Thank
                        youlLovingly made, very carefully packed and dispatched . and now my new eye-catcher at home.
                        Thank You
                    </p>
                    <h6>
                        See in original language
                    </h6>
                    <p class="comment-link">
                        Purchased item: <a href="#">Abstract Mid Century</a>, <a href="#">Modern Home</a>, <a
                            href="#">Sculpture Art</a>, <a href="#">Modern Retro Sc...</a>
                    </p>
                    <div class="comment-user">
                        <div class="comment-user__avatar">
                            <img src="media/user.png" alt="">
                        </div>
                        <a href="#">Sara Zingg</a>
                        <span>
                            29 Oct, 2020
                        </span>
                    </div>
                    <div class="comment-like">
                        <img src="media/like.png" alt="">
                        Helpful?
                    </div>
                </div> -->
            
        </div>
    </div>
    <div class="btn-list">
        <a href="#">Support</a>
        <a href="#">About</a>
    </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/element-ui.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/detail.js"></script>
    <script src="js/comment.js"></script>
   <script>
    // Define base URL for API endpoints
    const baseURL = "https://damp-castle-86239-1b70ee448fbd.herokuapp.com/decoapi/comments/";
    
    // Define endpoint and method for posting comments
    const postCommentURL = baseURL;
    const postCommentMethod = "POST";
    const postCommentHeaders = {
        'Content-Type': 'application/json'
    };

    // Define endpoint and method for fetching comments. 
    // The query parameter `website_code=example123` specifies which comments to retrieve.
    const getCommentsURL = `${baseURL}?website_code=example123`;
    const getCommentsMethod = "GET";

    // Create a new Vue instance
    new Vue({
        el: '#app',  // Bind the Vue instance to the DOM element with the id 'app'
        data: {
            username: '',      // Data property for the username input field
            comment: '',       // Data property for the comment input field
            rating: 0,         // Data property for the rating input
            list: []           // Data property to store the list of comments retrieved from the API
        },
        created() {  // Lifecycle hook that is called after the instance has been created
            this.getList();  // Fetch the list of comments when the Vue instance is created
        },
        methods: {  // Define methods that this Vue instance will use
            handleSubmit() {
                // Convert the user input data into a JSON string
                const postCommentBody = JSON.stringify({
                    username: this.username,
                    comment: this.comment,
                    website_code: "example123",
                    rating: this.rating,
                });

                console.log(postCommentBody);  // Log the JSON string to the console

                // Make a POST request to the API to save the comment
                fetch(postCommentURL, {
                    method: postCommentMethod,
                    headers: postCommentHeaders,
                    body: postCommentBody
                })
                    .then(response => response.json())
                    .then(data => this.getList());  // After saving the comment, fetch the updated list of comments
            },
            getList() {
                // Make a GET request to the API to fetch the list of comments
                fetch(getCommentsURL, {
                    method: getCommentsMethod,
                })
                    .then(response => response.json())
                    .then(data => this.list = data);  // Update the 'list' data property with the fetched comments
            } //This code is for a Vue application that allows users to post comments and view a list of comments. 
            //The comments are fetched from and posted to an API hosted at the specified baseURL.
        }
    });
</script>

 <script src="js/detail.js"></script>
</body>

</html>